/** Go to http://www.google.com/fonts (change font) **/

@import url('https://fonts.googleapis.com/css?family=Caveat');

span {
  -webkit-transition: all 0, 2s ease;
  -moz-transition: all 0, 2s ease;
  -o-transition: all 0, 2s ease;
  -ms-mstransition: all 0, 2s ease;
  transition: all 0, 2s ease;
 -webkit-filter: drop-shadow(3px 3px 10px white); 
}